

@font-face {
    font-family: RubikGlitch-Regular;
    src: url('fonts/Rubik_Glitch/RubikGlitch-Regular.ttf');
}

body {
    margin: 0;
    background: url(image/backgrround.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.Title {
    font-family: RubikGlitch-Regular;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 100px;
    font-weight: normal;
    color: blue;
    text-align: center;
    
}

.KK {
    block-size: 400px;
    margin: 50px;
    border: 50px;
    padding: 50px;
    text-align: center;
    color: white;
}


.listKK  {
    display: flex;
    
}